<div class="container">
  <form *ngIf="!showFeedback" [formGroup]="signupForm" (ngSubmit)="onSubmit()">

    <!-- Nom d'utilisateur -->
    <div>
        <label for="username">Nom d'utilisateur</label>
        <input id="username" type="text" formControlName="username">
        <div *ngIf="signupForm.get('username')?.touched && signupForm.get('username')?.invalid">
            <small *ngIf="signupForm.get('username')?.errors?.['required']">Le nom d'utilisateur est requis.</small>
            <small *ngIf="signupForm.get('username')?.errors?.['minlength']">Minimum 3 caractères.</small>
            <small *ngIf="signupForm.get('username')?.errors?.['maxlength']">Maximum 50 caractères.</small>
        </div>
    </div>

    <!-- Mot de passe -->
    <div>
        <label for="password">Mot de passe</label>
        <input id="password" type="password" formControlName="password">
        <div *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.invalid">
            <small *ngIf="signupForm.get('password')?.errors?.['required']">Le mot de passe est requis.</small>
            <small *ngIf="signupForm.get('password')?.errors?.['passwordStrength']">Mot de passe faible.</small>
        </div>
    </div>

    <!-- Confirmation du mot de passe -->
    <div>
        <label for="confirmPassword">Confirmation du mot de passe</label>
        <input id="confirmPassword" type="password" formControlName="confirmPassword">
      <div *ngIf="signupForm.hasError('passwordMismatch') && signupForm.get('confirmPassword')?.dirty" class="error-message">
        <small>Passwords do not match</small>
      </div>
    </div>
    <!-- Prénom -->
    <div>
        <label for="firstname">Prénom</label>
        <input id="firstname" type="text" formControlName="firstname">
        <div *ngIf="signupForm.get('firstname')?.touched && signupForm.get('firstname')?.invalid">
            <small *ngIf="signupForm.get('firstname')?.errors?.['required']">Le prénom est requis.</small>
        </div>
    </div>

    <!-- Nom -->
    <div>
        <label for="lastname">Nom</label>
        <input id="lastname" type="text" formControlName="lastname">
        <div *ngIf="signupForm.get('lastname')?.touched && signupForm.get('lastname')?.invalid">
            <small *ngIf="signupForm.get('lastname')?.errors?.['required']">Le nom est requis.</small>
        </div>
    </div>

    <!-- Email -->
    <div>
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email">
        <div *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.invalid">
            <small *ngIf="signupForm.get('email')?.errors?.['required']">L'email est requis.</small>
            <small *ngIf="signupForm.get('email')?.errors?.['email']">L'email n'est pas valide.</small>
        </div>
    </div>

    <!-- Date de naissance -->
    <div>
        <label for="birthdate">Date de naissance</label>
        <input id="birthdate" type="date" formControlName="birthdate">
        <div *ngIf="signupForm.get('birthdate')?.touched && signupForm.get('birthdate')?.invalid">
            <small *ngIf="signupForm.get('birthdate')?.errors?.['required']">La date de naissance est requise.</small>
        </div>
    </div>

    <!-- Téléphone -->
    <div>
        <label for="phoneNumber">Téléphone</label>
        <input id="phoneNumber" type="text" formControlName="phoneNumber">
        <div *ngIf="signupForm.get('phoneNumber')?.touched && signupForm.get('phoneNumber')?.invalid">
            <!--<small *ngIf="signupForm.get('phoneNumber')?.errors?.pattern">Le numéro de téléphone est invalide.</small>-->
        </div>
    </div>

    <!-- Adresse, ville, état, code postal, pays -->
    <div>
        <label for="street">Adresse</label>
        <input id="street" type="text" formControlName="street">
    </div>

    <div>
        <label for="city">Ville</label>
        <input id="city" type="text" formControlName="city">
    </div>

    <div>
        <label for="zip">Code Postal</label>
        <input id="zip" type="text" formControlName="zip">
        <div *ngIf="signupForm.get('zip')?.touched && signupForm.get('zip')?.invalid">
            <small *ngIf="signupForm.get('zip')?.errors?.['required']">Le code postal est requis.</small>
        </div>
    </div>

    <div>
        <label for="state">État</label>
        <input id="state" type="text" formControlName="state">
    </div>

    <div>
        <label for="country">Pays</label>
        <input id="country" type="text" formControlName="country">
    </div>


    <!-- Bouton d'inscription -->
    <button type="submit">S'inscrire</button>
  </form>

  <!-- Feedback -->
  <app-feedback *ngIf="showFeedback"
                [message]="feedbackMessage"
                [isSuccess]="isFeedbackSuccess"
                [buttonText]="buttonText"
                (buttonClicked)="buttonAction()">
  </app-feedback>
</div>
