<div class="tournament-detail-container">
    @if(tournament){
        <h2 class="tournament-title">{{ tournament.title }}</h2>
        <div *ngIf="(isLoggedIn | async) && canEdit()" >
          <!-- <p><button (click)="deleteTournament()">Delete Tournament</button></p>
          <p><button (click)="changeTournamentStatus()">Change Status</button></p> -->
        </div>

        <app-details-display [detailsArray]="getDetailstournament()" headerName="INFO"></app-details-display>
    }
</div> 

  