<div class="tournament-detail-container">
    @if(tournament){
      <p-messages
      [value] = "messages"
      [enableService]="true"
      [closable]="true" />
        <h2 class="tournament-title">{{ tournament.title }}</h2>

        <div *ngIf="(isLoggedIn | async) && canEdit()" class="container-organizer">
          <!-- <p><button (click)="deleteTournament()">Delete Tournament</button></p>
          <p><button (click)="changeTournamentStatus()">Change Status</button></p> -->

          <app-change-status
            (newStatusEvent)="updateStatus($event)" [statusList]=getTournamentTypeInOrder()
            [currentStatus]="tournament.tournamentStatus"/>
            @if(tournament.tournamentStatus === tournamentStatus.STARTED){
                <button (click)="updateStatus('INTERRUPTED')">⛔</button>
            }
            @if(tournament.tournamentStatus !== tournamentStatus.CLOSED){
              <button (click)="updateStatus('CANCELED')">❌</button>
            }
            @if(tournament.tournamentStatus === tournamentStatus.INTERRUPTED){
              <button (click)="updateStatus('STARTED')">✅</button>
            }

        </div>


        <app-details-display [detailsArray]="getDetailstournament()" headerName="INFO"></app-details-display>

        <app-participating-teams [tournamentId]="tournament.id"></app-participating-teams>

      <!-- Afficher le RankingComponent en passant les données rankings -->
      <app-ranking *ngIf="displayRanking"
                   [rankings]="rankings"
                   (rankingLoaded)="handleRankingLoaded($event)">
      </app-ranking>
    }
</div>

