<div class="form-container">
  <form *ngIf="!feedbackLogin.showFeedback" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="username">Username</label>
      <input id="username" formControlName="username" type="text" />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" formControlName="password" type="password" />
    </div>

    <button type="submit" class="login-button" [disabled]="loginForm.invalid">Login</button>
  </form>


  <div *ngIf="!feedbackLogin.showFeedback" class="forgot-password-section">
    <a routerLink="/user/request-new-password" class="forgot-password">Forgot your password?</a>
  </div>

  <div *ngIf="!feedbackLogin.showFeedback" class="divider">
    <span>OR</span>
  </div>

  <button *ngIf="!feedbackLogin.showFeedback" routerLink="/user/signup" class="signup-button">Sign Up</button>

  <!-- Affichage conditionnel du FeedbackComponent pour les erreurs -->
  <app-feedback
    *ngIf="feedbackLogin.showFeedback"
    [message]="feedbackLogin.feedbackMessage"
    [isSuccess]="feedbackLogin.isFeedbackSuccess"
    [buttonText]="feedbackLogin.buttonText"
    (buttonClicked)="feedbackLogin.buttonAction()">
  </app-feedback>
</div>
