<div class="match-list">
  <div *ngFor="let match of matches" class="match-card">
    <div class="match-info">
      <span class="match-date">{{ match.dateMatch | date: 'dd.MM.yyyy HH:mm' }}</span>
    </div>

    <div class="teams">
      <!-- Home Team -->
      <div class="team home-team">
        <img *ngIf="match.teamHome.logoUrl" [src]="match.teamHome.logoUrl" alt="Logo {{ match.teamHome.name }}" class="team-logo" />
        <span class="team-name">{{ match.teamHome.name }}</span>
      </div>

      <!-- Score -->
      <div class="score">
        <!-- Condition pour afficher le score ou un tiret avec classe "pending" -->
        <span class="score-number" [ngClass]="{'pending': match.matchStatus === 'SCHEDULED' || match.matchStatus === 'CANCELED' || match.matchStatus === 'INTERRUPTED'}">
          <ng-container *ngIf="match.matchStatus === 'INPROGRESS' || match.matchStatus === 'FINISHED'">
            {{ match.scoreTeamHome }} - {{ match.scoreTeamAway }}
          </ng-container>
          <ng-container *ngIf="match.matchStatus === 'SCHEDULED' || match.matchStatus === 'CANCELED' || match.matchStatus === 'INTERRUPTED'">
            &mdash; <!-- Tiret pour les matchs non commencés ou annulés -->
          </ng-container>
        </span>
        <span class="match-status" [class]="match.matchStatus | lowercase">{{ match.matchStatus | uppercase }}</span>
      </div>

      <!-- Away Team -->
      <div class="team away-team">
        <img *ngIf="match.teamAway.logoUrl" [src]="match.teamAway.logoUrl" alt="Logo {{ match.teamAway.name }}" class="team-logo" />
        <span class="team-name">{{ match.teamAway.name }}</span>
      </div>
    </div>
  </div>
</div>
