<div class="confirm-account-container" *ngIf="feedbackConfirmAccount.showFeedback">
  <!-- Utilisation du FeedbackComponent avec les messages du backend -->
  <app-feedback
    [message]="feedbackConfirmAccount.feedbackMessage"
    [isSuccess]="feedbackConfirmAccount.isFeedbackSuccess"
    [buttonText]="feedbackConfirmAccount.buttonText"
    (buttonClicked)="feedbackConfirmAccount.buttonAction()">

  </app-feedback>
</div>

<div *ngIf="!feedbackConfirmAccount.showFeedback">
  <!-- Optionnel : Un message de chargement ou une icône d'attente peut être affiché ici -->
  <p>Validating your account...</p>
</div>

