<div class="reset-password-container">
  <button routerLink="/user/login" class="back-button">Back</button>

  <h2>Reset Password</h2>
  <p>Don't worry. Just enter your email address below and we'll send you some instructions.</p>

  <form [formGroup]="requestNewPasswordForm" (ngSubmit)="onSubmit()">
    <div class="p-field">
      <div class="email-container">
        <label for="email">Email  </label>
        <input
          id="email"
          type="email"
          pInputText
          formControlName="email"
          placeholder="Email"
        />
      </div>

      <div *ngIf="requestNewPasswordForm.get('email')?.invalid &&
            (requestNewPasswordForm.get('email')?.dirty || requestNewPasswordForm.get('email')?.touched)"
           class="error-message">
        <small *ngIf="requestNewPasswordForm.get('email')?.errors?.['required']">Email is required</small>
        <small *ngIf="requestNewPasswordForm.get('email')?.errors?.['email']">Invalid email address</small>
      </div>


    </div>

     <!-- reCAPTCHA -->
    <div class="p-field">
      <re-captcha
        (resolved)="onCaptchaResolved($event)"
        siteKey="6LdyZm8qAAAAAJhNd7Pmai-xyKK2jIKfqcPWUNyp"
      ></re-captcha>
    </div>

    <button pButton type="submit" label="SEND" [disabled]="!requestNewPasswordForm.valid || !captchaResolved"></button>
  </form>
</div>
